* {
    margin: 0;
    padding: 0;
}



.goods-list {
    margin-top: 50px;
    margin-left: 31%;
    display: flex;
}

.goods-item {
    padding: 40px;
    border: 2px solid #445161;
}

.cart-button {
    display: block;
    width: 260px;
    padding: 14px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.title-text {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.txt-text {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

#Capa_1 {
    width: 90px;
    height: 90px;
}